rag_theory/
rag_code/
__pycache__/
*.zip
/tmp/
ALERTS/

downloaded_content/
rag_mql5_dev/
rag_theory/
rag_code/
*.zip
*.db
*.index
*.pkl
rag_mql5/
rag_mql5_big/
rag_theory/
rag_code/
Knowledge_Base/new_knowledge_2/
Knowledge_Base/new_knowledge_3/
Knowledge_Base/new_knowledge_4/
github_codebase/
